<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	  <title>
	    Page Boy CMS
	  </title>
	  <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
	  <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
	  <link href="/stylesheets/page_boy.css" rel="stylesheet" type="text/css" />
	  <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
	  <%= yield(:head) %>
  </head>
  <body>
    <div id="body" class="body">
      <div id="header" class="header">
        <img src="/images/page_boy_globe_logo.png" class="left"/>
        <img src="/images/page_boy_cms_logo.png" class="text_logo"/>
      </div>
      <div id="content" class="content clearfix">
        <% if flash -%>
          <% flash.each do |level, message|%>
          <div id="flash" class="<%= level%>">
            <%= message %>
          </div>
          <% end -%>
        <% end -%>
        <%= yield(:layout) %>
      </div>
      <div id="footer" class="footer">
        <ul>
          <h3>About</h3>
          <li>Page Boy <a href="/about">General Info</a></li>
          <li><a href="/help">Help</a> for Page Boy</li>
          <li>Page Boy is a Project of <a href="http://trajector.set">Trajector Set</a></li>
        </ul>
        <ul>
          <h3>Legal</h3>
          <li><a href="/terms">Terms of Use</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>